* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Tinos", serif;
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tinos", serif;
}

a,
a:hover {
  text-decoration: none;
}

/* header css */

.header-top {
  width: 100%;
}

.header-top .navbar-expand-lg .navbar-nav {
  flex-direction: row;
  margin-right: 80px;
}

.header-top .navbar-expand-lg .navbar-nav .nav-link {
  color: #ffffff;
  margin-left: 15px;
  font-family: "Tinos", serif;
  font-size: 18px;
}

.header-top .navbar-brand img {
  width: 60px;
  height: 60px;
}

.header-top .btn-outline-success {
  --bs-btn-color: #ff6e31;
  --bs-btn-border-color: #ff6e31;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff6e31;
  --bs-btn-hover-border-color: ##ff6e31;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff6e31;
  --bs-btn-active-border-color: #ff6e31;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ff6e31;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ff6e31;
  --bs-gradient: none;
}

/* banner css */

.banner {
  width: 100%;
  padding: 80px 0px;
  background: url("../img/1.jpg") center top no-repeat;
  background-size: cover;
}
.inner-banner {
  width: 100%;
  padding: 40px 0px 40px 0px;
}

.banner h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
  margin: 0px 0px 0px;
}
.banner span {
  color: #ff6e31;
}
.banner h4 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
}
.banner p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  margin: 0px 0px 25px;
}
.banner .inner-banner .btn-success {
  padding: 12px 40px;
  border-radius: 35px;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: #ff6e31;
  border: 1px solid #ff6e31;
  transition: 1s;
  text-transform: capitalize;
}

.banner .inner-banner .btn-success:hover {
  color: #ff6e31;
  background: transparent;
  border: 1px solid #ff6e31;
}
.banner .inner-banner .btn-success:focus {
  color: #ff6e31;
  background: transparent;
  border: 1px solid #ff6e31;
}

/* video css */

.video {
  width: 100%;
  padding: 40px 0px;
  background: #257153;
}

.video .video-text {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.video .video-content a {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 5px 0px 0px 0px;
}

/* about-us css */
.about-us {
  width: 100%;
  padding: 80px 0px;
  background: #243644;
}

.about-inner {
  width: 100%;
  margin: 40px 0px 0px;
  align-items: center;
}

.about-us .tittle {
  width: 100%;
}

.about-us .tittle h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0px 0px 20px;
}

.about-us .tittle p {
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: #ffffff;
  margin: 0px 0px 25px;
  padding: 0px 81px 0px 0px;
}

/* course css */

.course {
  width: 100%;
  padding: 40px 0px;
  background: #257153;
}
.course .course-content h3 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  text-decoration: none;
  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  text-align: center;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;
  text-align: center;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/* product css */

.section-products {
  width: 100%;
  padding: 40px 0px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-transform: capitalize;
  color: #444444;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
  background: url("../img/a4-tech-comfortfit-stereo-headset-hs-19.jpeg") center
    no-repeat;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
  background: url("../img/a4tech_bloody_j90s_2-fire_rgb_animation_gaming_mouse.jpg")
    center no-repeat;
  background-size: cover;
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  background: url("../img/MAONO AU-A04 USB Micro phone.jpg") center no-repeat;
  background-size: cover;
}

.section-products #product-4 .part-1::before {
  background: url("../img/a4-tech-comfortfit-stereo-headset-hs-19.jpeg") center
    no-repeat;
  background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #444444;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
  transform: translateY(-50%);
}

/* client review css */

.review {
  width: 100%;
  padding: 40px 0px;
  background: #257153;
}

.review .inner-review h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  margin: 0px 0px 40px 0px;
  text-transform: capitalize;
}

figure.snip1157 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}
figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 25px 50px 30px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}
figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.snip1157 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1157 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

/* Demo purposes only */
html {
  height: 100%;
}
body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}

/* Statistics css  */

.Statistics {
  width: 100%;
  padding: 40px 0px;
  background: #243644;
}

.Statistics .inner-Statistics {
  width: 100%;
  text-align: center;
}

.Statistics .inner-Statistics h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  margin: 0px 0px 40px 0px;
  text-transform: capitalize;
}
.Statistics .inner-Statistics p {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 20px 0px;
  padding: 0px 309px;
}

.Statistics .number-count {
  text-align: center;
  color: #ffffff;
  margin: 60px 0px 0px 0px;
}

.Statistics .number-count h4 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  margin: 0px;
}
.Statistics .number-count p {
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
  margin: 0px;
}

/* contact-us css */

.contact-us {
  width: 100%;
  padding: 40px 0px 0px;
  background: #257153;
  position: relative;
  z-index: 1;
}

.contact-us .tittle-contact {
  width: 100%;
  text-align: center;
  padding: 0px 0px 40px;
}

.contact-us .tittle-contact h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  margin: 0px 0px 40px 0px;
  text-transform: capitalize;
}

.comunication {
  width: 100%;
  text-align: center;
  margin: 0px 0px 0px 12px;
}

.comunication img {
  width: 35px;
  height: 35px;
  margin: 0px 0px 20px 0px;
}

.comunication p {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.main-form {
  width: 100%;
  padding: 50px 70px 40px;
  background: #15141a;
  margin: 60px 0px -77px;
}

.main-form .form-control {
  font-size: 14px;
  padding: 16px 10px;
  text-transform: uppercase;
  border: 1px solid #444348;
  color: #444348;
  background: transparent;
  border-radius: 4px;
}

.main-form .form-control:focus {
  color: #444348;
  background-color: transparent;
  border-color: #444348;
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

.main-form .inner-btn {
  width: 100%;
  text-align: right;
  margin: 20px 0px 0px 14px;
}

.main-form .inner-btn .btn-primary {
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background: #ff6e31;
  border: 1px solid #ff6e31;
  border-radius: 2px;
  transition: 1s;
}

.main-form .inner-btn .btn-primary:hover {
  color: #ff6e31;
  border: 1px solid #ff6e31;
  background: transparent;
}
.main-form .inner-btn .btn-primary:focus {
  color: #ff6e31;
  border: 1px solid #ff6e31;
  background: transparent;
}

.map {
  width: 100%;
}

/* footer section css */
.footer {
  width: 100%;
  padding: 40px 0px;
  background: #15141a;
}

.footer .icon ul {
  text-align: center;
}
.footer .icon ul li {
  text-decoration: none;
  display: inline-block;
  margin: 0px 20px 0px 0px;
}

.footer .icon ul li a i {
  font-size: 16px;
  color: #ffffff;
  transition: 1s;
}

.footer .icon ul li a i:hover {
  color: #ff6e31;
}

.footer .icon p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0px;
}

.footer .icon p span {
  font-weight: 700;
  letter-spacing: 2px;
  transition: 1s;
}

.footer .icon p span:hover {
  color: #ff6e31;
}
